* {
  font-size: large;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  background-color: #0C0A00;
}

main {
  display: grid;
  gap: 1em;
  width: 80%;
  margin: auto;
  grid-template-areas:
  "B B B"
  "C C M";
  justify-content: space-evenly;
}

.bio {
  grid-area: B;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  height: 30%;
  justify-items: center;
  align-items: center;
}

.bio a {
  text-decoration: underline gray;
}

.bio > .left-side {
  display: flex;
  flex-direction: column;
  gap: .5em;
  align-items: center;
  justify-content: center;
}

.bio > .left-side > img {
  width: 55%;
  border-radius: 50%;
  border: 2px solid gray;
}

.bio > .left-side .icons {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.bio > .left-side .icons .icon {
  font-size: x-large;
}

#coding-adventures {
  grid-area: C;
  text-align: center;
  height: min-content;
}

#math-adventures {
  text-align: center;
  grid-area: M;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start; 
  gap: 1em;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  width: 30%;
  aspect-ratio: 1/1;
  border: 2px ridge darkcyan;
}

.gallery-item img {
  width: 100%;
  height: 100%;
}

.gallery-item  p {
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 3.5em;
  color: white;
  background-color: black;
  border-bottom: 2px ridge darkcyan;
}

.gallery-item:hover {
  border: 2px solid cyan;
}

.gallery-item:hover  p {
  color: black;
  background-color: white;
}

.math-list {
  display: flex;
  flex-direction: column;
}

.math-list a {
  padding: 1ex;
  font-size: large;
  border: 2px solid darkcyan;
}

.math-list a:hover {
  border: 2px solid cyan;
}

@media only screen and (max-width: 1000px) {
  * {
    font-size: medium;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .bio {
    display: flex;
  }
  .bio > .left-side {
    display: none;
  }
  .gallery-item {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: medium;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .bio {
    display: flex;
  }
  .bio > .left-side {
    display: none;
  }
  .gallery {
    flex-direction: column;
  }
  .gallery-item {
    width: 100%;
  }
}

