* {
  font-size: large;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  background-color: #0C0A00;
}

main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
}

.bio {
  display: block;
  width: 90%;
}

.bio a {
  text-decoration: underline gray;
}

.bio .profile-img {
  float: left;
  display: flex;
  flex-direction: column;
  gap: .5em;
  align-items: center;
  justify-content: flex-end;
  margin: 1em;
  width: 30%;
}

.bio .profile-img img {
  width: 100px;
  border-radius: 50%;
  border: 2px solid gray;
}

.bio .profile-img .icons {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.bio .profile-img .icons .icon {
  font-size: x-large;
}

blockquote {
  padding: 0 10%;
  font-size: medium;
  text-align: justify;
}

.adventures {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: min-content;
}

.adventures-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.adventures-header > button {
  background: transparent;
  border: none;
}

.adventures-header > button:hover {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.gallery {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  width: 25%;
  aspect-ratio: 1/1;
  border: 2px ridge darkcyan;
}

.gallery-item img {
  width: 100%;
  height: 100%;
}

.gallery-item  p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1ex;
  height: 3.5em;
  color: white;
  background-color: black;
  border-bottom: 2px ridge darkcyan;
}

.gallery-item:hover {
  border: 2px solid cyan;
}

.gallery-item:hover  p {
  color: black;
  background-color: white;
}

.project-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
}

.project-list-item {
  display: flex;
  padding: 1ex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid darkcyan;
}

.project-list-item-description {
  width: 70%;
  padding: 0 2ex;
  text-align: justify;
}

.project-list-item-description h1 {
  text-align: center;
}

.project-list-item-description h1 a:hover {
  text-decoration: underline;
}

.project-list-item-description p a {
  color: darkcyan;
}

.project-list-item-img {
  align-self: center;
  width: 30%;
  justify-content: center;
}

.project-list-item-img img {
  width: 100%;
  border-radius: 1ex;
}

.project-list-item-img img:hover {
  border: 2px solid cyan;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  width: 90%;
  gap: 5%;
  scroll-snap-type: x mandatory;
}

.carousel li {
  list-style-type: none;
  flex: 0 0 100%;
  scroll-snap-align: center;
}

@media only screen and (max-width: 1000px) {
  * {
    font-size: large;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .bio {
    width: 100%;
  }
  .bio .profile-img {
    display: none;
  }
  .gallery-item {
    width: 30%;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: medium;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .bio .profile-img {
    display: none;
  }
  .gallery {
    flex-direction: column;
    align-items: center;
  }
  .gallery-item {
    width: 100%;
  }
  .project-list {
    width: 100%;
  }
  .project-list-item-img {
    display: none;
  }
  .project-list-item-description {
    width: 100%;
  }
}

