* { font-size: large; color: white; }
a { text-decoration: underline gray; color: white; }

.profile { width: 90%; text-align: justify; }

.profile-picture {
  float: left;
  display: flex; flex-direction: column;
  gap: .5em;
  align-items: center;
  justify-content: flex-end;
  margin: 1em;
  width: 30%;
}

blockquote {
  padding: 0 10%;
  font-size: medium;
  text-align: justify;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 2em;
  justify-content: space-around;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 1ex;
  gap: 1ex;
  aspect-ratio: 3/4;
  border-radius: 1em;
}
.card:hover { border-color: white; }

.card-desc * { display: none; }
.card-desc > h1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 3.5em; 
  margin: 0;
}
.card-img { flex: 1; }
.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 1em;
}
.card-footer * { font-size: small; }
.card-footer > button, .card-footer > a {
  flex: 1;
  border: none; 
  text-align: center;
  background-color: color-mix(in srgb, gray 30%, transparent);
}
.card-footer > button:hover, .card-footer > a:hover {
  flex: 1;
  background-color: gray; 
}

.card-footer dialog {
  width: 50%;
  height: 70%;
  padding: 1em;
  background-color: black;
  border: 2px solid darkcyan;
  border-radius: 1em;
}
.card-footer dialog * { font-size: large; }
.card-footer dialog button {
  border: none;
  padding: 0.5ex;
  border-radius: 1ex;
  background-color: color-mix(in srgb, gray 30%, transparent);
}

.font-medium { font-size: medium; }
.font-xlarge { font-size: x-large; }

.m-0 { margin: 0; }
.m-1 { margin: 1em; }
.m-auto { margin: auto; }

.bg-carbon { background-color: #0C0A00; }

.bd-radius-50 { border-radius: 50%; }
.bd-solid { border-style: solid; }
.bd-ridge { border-style: ridge; }
.bd-gray { border-color: gray }
.bd-darkcyan { border-color: darkcyan; }
.bd-2 { border-width: 2px; }
.bd-radius-bl-1ex { border-bottom-left-radius: 1ex; }
.bd-radius-br-1ex { border-bottom-right-radius: 1ex; }

.flex-row { display: flex; flex-direction: row; }
.flex-column { display: flex; flex-direction: column; }
.wrap { flex-wrap: wrap; }
.j-space-evenly { justify-content: space-evenly; }
.j-flex-end { justify-content: flex-end; }
.j-space-around { justify-content: space-around; }
.a-center { align-items: center; }

.gap-05 { gap: 0.5em; }
.gap-1 { gap: 1em; }
.row-gap-05 { row-gap: 0.5em; }
.row-gap-1 { row-gap: 1em; }
.row-gap-2 { row-gap: 2em; }

.w-10 { width: 10%; }
.w-20 { width: 20%; }
.w-25 { width: 25%; }
.w-30 { width: 30%; }
.w-90 { width: 90%; }
.w-100 { width: 100%; }

.h-100 { height: 100%; }

@media only screen and (max-width: 600px) {
  body { width: 100%; }
  blockquote { padding: 2ex 1ex; margin: 0; }
  .profile { width: 100%; }
  .profile-picture { display: none; }
  .gallery { flex-direction: column; }
  .card { width: 90%; }
  .card-footer dialog { width: 90%; }
}
