* {
  font-size: large;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  background-color: #0C0A00;
}

main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
}

.bio {
  display: block;
  width: 90%;
}

.bio a {
  text-decoration: underline gray;
}

.bio .profile-img {
  float: left;
  display: flex;
  flex-direction: column;
  gap: .5em;
  align-items: center;
  justify-content: flex-end;
  margin: 1em;
  width: 30%;
}

.bio .profile-img img {
  width: 100px;
  border-radius: 50%;
  border: 2px solid gray;
}

.bio .profile-img .icons {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.bio .profile-img .icons .icon {
  font-size: x-large;
}

blockquote {
  font-size: small;
  padding: 0 15%;
  margin: 0;
  text-align: justify;
}

.adventures {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: min-content;
}

.adventures-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.adventures-header > button {
  background: transparent;
  border: none;
}

.adventures-header > button:hover {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; 
  gap: 1em;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  width: 20%;
  aspect-ratio: 1/1;
  border: 2px ridge darkcyan;
}

.gallery-item img {
  width: 100%;
  height: 100%;
}

.gallery-item  p {
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 3.5em;
  color: white;
  background-color: black;
  border-bottom: 2px ridge darkcyan;
}

.gallery-item:hover {
  border: 2px solid cyan;
}

.gallery-item:hover  p {
  color: black;
  background-color: white;
}

.math-list {
  display: flex;
  flex-direction: column;
}

.math-list a {
  padding: 1ex;
  font-size: large;
  border: 2px solid darkcyan;
}

.math-list a:hover {
  border: 2px solid cyan;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  width: 90%;
  gap: 5%;
}

.carousel li {
  list-style-type: none;
  flex: 0 0 100%;
}

@media only screen and (max-width: 1000px) {
  * {
    font-size: large;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .bio {
    width: 100%;
  }
  .bio .profile-img {
    display: none;
  }
  .gallery-item {
    width: 30%;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: medium;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .bio .profile-img {
    display: none;
  }
  .gallery {
    flex-direction: column;
    align-items: center;
  }
  .gallery-item {
    width: 100%;
  }
}

