{% extends "_base.html" %}

{% block body %}
<main>
  <section class="bio">
    <div class="profile-img">
      <img src="./images/profile2.jpg">
      <div class="icons">
        <a class="icon" href="https://www.linkedin.com/in/sebasti%C3%A1n-s%C3%A1nchez-s/">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="icon" href="https://github.com/sebastian-sanchez-s/">
          <i class="fa fa-github"></i>
        </a>
        <a class="icon" href="https://uccl0-my.sharepoint.com/:b:/g/personal/slsanchez_uc_cl/IQDhaR6wt5tORI4oJCgZaJWfATFwpMnW_hKhTQ5DoJEL5yQ?e=1ldxvB" target="_blank">
          cv
        </a>
      </div>
    </div>

    <p>
    Welcome. My name is Sebastián Sánchez.
    Here you can find a <q>mathematician's viewpoint</q>
    on some topics of my interest.
    </p>

    <p>
    I've earned at Pontificia Universidad Católica de Chile, a
    <ul>
      <li>Master's degree in Mathematics and Computational Engineering, and</li>
      <li>Bachelor's degree in Mathematics, with a minor in Computer Science.</li>
    </ul>
    </p>

    <br>
    <blockquote>
    At the beginning of this century a self-destructive democratic principle
    was advanced in mathematics (especially by Hilbert), according to which
    all axiom systems have equal right to be analyzed, and the value of a
    mathematical achievement is determined, not by its significance and
    usefulness as in other sciences, but by its difficulty alone, as in
    mountaineering.
    <br>
    --<cite>Vladimir I. Arnold</cite>
    </blockquote>

  </section>

  <ul class="carousel">
    <li class="adventures">
      <div class="adventures-header">
        <button><i class="fa-solid fa-arrow-left"></i></button>
        <h1>Coding Adventures</h1>
        <button><i class="fa-solid fa-arrow-right"></i></button>
      </div>
      <div class ="gallery">
        {% for display_title, project_name, cover_name in [
          ('Animaciones de Wasserstein', 'WassersteinAnimation', 'WassersteinAnimation'),
          ('Model View Projection', 'ModelViewProjection', 'ModelViewProjection'),
          ('The Heat Method for Distance Computation', 'HeatMethod', 'HeatMethodBackup'),
          ('Discrete Laplacian on Triangle Meshes', 'DiscreteLaplacian', 'DiscreteLaplacian'),
        ]%}
        <a class="gallery-item" href="coding/{{ project_name }}/{{ project_name }}.html">
          <p>{{ display_title }}</p>
          <img src="covers/{{ cover_name }}.png"/>
        </a>
        {% endfor %}
      </div>
    </li>

    <li class="adventures">
      <div class="adventures-header">
        <button><i class="fa-solid fa-arrow-left"></i></button>
        <h1>Math Adventures</h1>
        <button><i class="fa-solid fa-arrow-right"></i></button>
      </div>
      <div class="project-list">
        {% for display_title, description, project_name, href in [
          ( 'Derivation of the Logistic Regression formula', 
            (
              'If you are like me, you must hate the "shut up and calculate" mantra.'
              ' In this document I introduce the categorization problem from data, and in its formalization an optimization problem arises that give us very naturally the characteristic formula used in logistic regression.',
            ),
            'LogisticRegression',
            'math/LogisticRegression/LogisticRegression.html'
          ),
          ( 'Approximation Theory for Continuous Operators and its Application to the Operator Learning Problem',
            (
              'This is my master\'s thesis, supervised by <a href="https://federicofuentes.github.io/" target="_blank">Ph.D. Federico Fuentes Caycedo</a>.',
              'The usual treatment of operator learning focuses on the amount and quality of training data to maximize identification in the least number of epochs. The objective of this document is to complement the literature by reviewing the theory underlying operator approximation, validating error estimates with numerical experiments and extracting features from approximants. Through the review, we aim to formalize incomplete and unclear proofs, extend results and relate ideas under a general framework, and propose nuanced questions to guide future research.',
              'The following <a href="https://github.com/sebastian-sanchez-s/OperatorLearning" target="_blank">github repository</a> contains some of the code generated through this thesis.'
            ),
            'MasterThesis',
            'https://uccl0-my.sharepoint.com/:b:/g/personal/slsanchez_uc_cl/IQDpc1TxThaYSYNLo1uX14hwAdn7O0o0K3sq7dAP7M7bziI?e=U2ct7a',
          ),
          ( 'Wave Scattering Through a Ball',
            (
              'Imagine a planar acoustic wave traveling through the air and colliding with a ball fill with water. How does the wave behave on this impact? I computed analytical solutions for this problem.',
              'The document is part of a summer undergrad research project (roughly 2 months) at Pontificia Universidad Católica de Chile supervised by <a href="https://www.ing.uc.cl/academicos-e-investigadores/elwin-van-t-wout/" target="_blank">Ph.D. Elwin Van\'t Wout</a>, and the code is now part of the <a href="https://github.com/optimuslib/optimus" target="_blank">OptimusLib</a> software for 3D wave scattering.',
              'Please refer to the <a href="https://github.com/sebastian-sanchez-s/IPV-23-2801" target="_blank">github repository</a> for details and better visualization, since the conversion to html is not that great.',
            ),
            'WaveScattering',
            'math/WaveScattering/WaveScattering.html',
          ),
        ]%}
          <div class="project-list-item" >
            <div class="project-list-item-description">
              <h1>{{ display_title }}</h1>
              {% for p in description %}
              <p>{{ p }}</p>
              {% endfor %}
            </div>
            <a class="project-list-item-img" href="{{ href }}">
              <img src="covers/{{ project_name }}.png"/>
            </a>
          </div>
        {% endfor %}
      </div>
    </li>

    <li class="adventures">
      <div class="adventures-header">
        <button><i class="fa-solid fa-arrow-left"></i></button>
        <h1>Software Development Adventures</h1>
        <button><i class="fa-solid fa-arrow-right"></i></button>
      </div>
      <div class="project-list">
        {% for display_title, description, project_name, href in [
          ( 'Which Young tableaux can represent an outer sum?',
            (
              'A Young Tableaux is grid of numbers such that every cell is greater than the cell to the right and to the bottom.'
              ' In this project, I developed and implemented an algorithm to massively compute Young Tableaux that can be represented by outer sums of vectors based on a LP algorithm developed by Colin Mallows and Robert J. Vanderbei.',
              'This project was developed during a winter undergrad research project (roughly a month) at Pontificia Universidad Católica de Chile supervised by <a href="https://www.mat.uc.cl/~federico.castillo/" target="_blank">Ph.D. Federico Castillo Castillo</a>.'
              ' Please refer to the <a href="https://github.com/sebastian-sanchez-s/IPI-23-2211">github repository</a> for details.',
            ),
            'YoungTableauxOuterSums',
            'https://github.com/sebastian-sanchez-s/IPI-23-2211'
          )
        ]%}
          <div class="project-list-item" >
            <div class="project-list-item-description">
              <h1>{{ display_title }}</h1>
              {% for p in description %}
              <p>{{ p }}</p>
              {% endfor %}
            </div>
            <a class="project-list-item-img" href="{{ href }}">
              <img src="covers/{{ project_name }}.png"/>
            </a>
          </div>
        {% endfor %}
      </div>
    </li>
  </ul>
</main>

<script>
  const carousel = document.querySelector(".carousel");

  let currCarouselIndex = 0;

  function scrollIntoView(increment) {
    increment = Math.min(Math.max(increment, -1), 1);
    currCarouselIndex = (currCarouselIndex + increment) % carousel.children.length;
    currCarouselIndex = Math.min(Math.max(currCarouselIndex, 0), carousel.children.length);
    carousel.children[currCarouselIndex].scrollIntoView({behavior: "smooth"});
  }

  for(const button of carousel.querySelectorAll("button")){
    if( button.children[0].className.includes("left") ){
      button.addEventListener("click", () => scrollIntoView(-1));
    }
    else if( button.children[0].className.includes("right") ){
      button.addEventListener("click", () => scrollIntoView(1));
    }
  }
</script>

{% endblock %}

