<p>
The app consists of Pollsters, Respondents, Surveys, Questions
and Answers, as show the entity-relation diagram on the right.
I design the database such that common data retrieval
queries are efficient i.e. getting all answers to a question.
</p>
<p>
I used class based views, permissions mixin, and forms.
The architecture is decoupled i.e. templates do not
mess with business logic and queries are handled mostly by models.
I put a lot of effort into writing idiomatic django code.
</p>
<p>
This is work in progress, what is left is:
<ul>
  <li>styling</li>
  <li>minor permission handling</li>
  <li>deployment</li>
</ul>
</p>
