<p>
Imagine a planar acoustic wave traveling through the air and
colliding with a ball fill with water. How does the wave behave
on this impact? I derived analytical solutions for this
problem.
</p>
<p>
The document is part of a summer undergrad research project (roughly 2 months)
at Pontificia Universidad Católica de Chile supervised by 
<a href="https://www.ing.uc.cl/academicos-e-investigadores/elwin-van-t-wout/"
target="_blank">Ph.D. Elwin Van't Wout</a>, and the code is now part of the <a
href="https://github.com/optimuslib/optimus"
target="_blank">OptimusLib</a> software for 3D wave scattering.
</p>
<p>
Please refer to the <a href="https://github.com/sebastian-sanchez-s/IPV-23-2801"
target="_blank">github repository</a> for details and better
visualization, since the conversion to html is not that great.
</p>
